{
  "type": "ManageIQ::Providers::Redhat::InfraManager",
  "name": "{{ miq_rhv_provider_name }}",
  "connection_configurations": [{
    "endpoint": {
      "role": "default",
      "hostname": "{{ engine_fqdn }}",
      "verify_ssl": {{ engine_cafile is defined }},
      {% if engine_cafile is defined %}
        "certificate_authority": "{{ lookup('file', engine_cafile ) | regex_replace('\n', '\\n') }}",
      {% endif %}
    },
    "authentication": {
      "userid": "{{ engine_user }}",
      "password": "{{ engine_password }}",
    },
  },
  {% if metrics_fqdn is defined %}
    {
     "endpoint": {
        "role": "metrics",
        "path": "ovirt_engine_history",
        "hostname": "{{ metrics_fqdn }}",
        {% if metrics_fqdn is defined %}
        "port": "{{ metrics_port }}",
        {% endif %}
      },
      "authentication": {
        "userid": "{{ metrics_user }}",
        "password": "{{ metrics_password }}",
      },
    },
  {% endif %}
  ],
}
